*{
	margin: 0px;
	padding: 0px;
}
#nav{
	background-color: #263238;
	}
#nav h1{
	color: white;
	margin-left:10px;
	padding: 10px;

        }

 #container{
      max-width: 1300px;
      margin: auto;

 }

 #dash{
 	color: black
 	margin-left:10px;
}

#Month{
	text-align: left;
	border: 10px solid red;
	background-color: red;
	color: white;
	border-radius: 20px;
	margin-left: 90%;
}

.item{
	border: 1px white solid;
	width:20%;
	line-height: 80px;
	float: left;
	background-color: #eceff1;
	margin-left:10px; 
	border-radius: 10px;

}
 .item h2{
 	text-decoration: underline;
          }

 .item h1{
 	color: green;
 	text-align: right;
 	font-size: 90px;
 }
.eva{
	margin-top: 3%;
	border: 1px white solid;
	width:85%;
	line-height: 80px;
	float: left;
	background-color: #fafafa;
	margin-left:10px; 
	border-radius: 10px;
	border-radius: 10%;

}

.task{
	background: #e0e0e0;
	border-radius: 10%;

}

.task h1{
	color: green;
}

#table{
     
	font-size: 25px;
	border-color:white; 
	margin: 3%;
}

.name{
	color:green;
     font-weight: bold; 
}

.tr{
	background-color: #eeeeee;
}

.bottom{
	border: 1px white solid;
	width:40%;
	line-height: 80px;
	float: left;
	background-color: #eceff1;
	margin-left:10px; 
	border-radius: 10px;
	


}

#LeaderBoard{

	font-size:40px;
	border-color:white;
	margin: 10%;
	padding: 2%;
	
	}
#pic{
	width: 90%;
	
	margin: 20px;
	margin-right: 20px;
    
   
}
